@page "/Index"
@* @using DataAccessLibrary.DataAccess;
@using DataAccessLibrary.Models;
@using DataAccessLibrary.SqlDataAccess;

@using DataAccessLibrary.DataReportModels;
@using DataAccessLibrary.ReportDataSet;

@using BlazorDapper.Controllers; *@

<PageTitle>Index</PageTitle>
@* <div class="col-sm-12" style="padding:0px;">
    <h4 style="background-color:#46316e; color:white; padding-bottom:10px">Hello!!</h4>
</div> *@
@* <a id="btnGenerate" class="btn btn-success" href="https://localhost:7219/api/Employee/EmployeeReport" target="_blank">Report</a>
 *@


