@page "/email"
<h3>SendMail</h3>
@using BlazorDapper.Pages;
@* @model WebApplication1.Pages.IndexModel *@
@using System.Net;
@using System.Net.Mail;



@code {
    private string Message { get; set; } ="";
    // private void SendMail()
    // {
        
    // }
}
